<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/pokemon/favicon16.png" type="image/x-icon" />
    <link rel="icon" href="/pokemon/favicon32.png" type="image/x-icon" />
    <link rel="icon" href="/pokemon/favicon48.png" type="image/x-icon" />
    <meta name="desription" content="Крутые карточки с покемонами" />
    <meta
      name="keywords"
      content="покемоны, карточки покемонов, pokemon, покемоны для детей, карточки для коллекционирования, покемоны игры, карточки персонажей, pokemon cards, Pokédex, игры с покемонами, Pokémon Go, Pokémon collection"
    />
    <meta name="theme-color" content="#131313" />
    <meta name="background" content="#131313" />
    <meta name="author" content="artemnee" />
    <meta name="generator" content={Astro.generator} />
    <title>Pokemon</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0;
  }
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #131313;
    font-family: Raleway, sans-serif;
  }
</style>
